<div id="background"></div>
<div id="popup">
    <h1 class="title is-1">Register a new bot</h1>
    <h2 class="subtitle is-3">Fill out some details!</h2>
    <div class="box">
        <b><span class="icon"><i class="fas fa-exclamation-circle"></i></span> Important</b>
        <p> This dashboard only works on v0.1.0 and higher</p>
    </div>
    <div class="field">
        <label class="label">Your bot's id</label>
        <div class="control">
            <input class="input" id="id" placeholder="Your bot's id" autocomplete="off" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" type="text">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="checkbox">
  <input type="checkbox" id="terms">
  I agree to the <a href="#">terms and conditions</a>
</label>
        </div>
    </div>
    <div class="field is-grouped" style="">
        <div class="control">
            <button id="submit" class="button is-link" onclick="submit()">Submit</button>
        </div>
    </div>
</div>
<div id="popup-reminder">
    <h1 class="title is-3"><i class="fas fa-exclamation-circle"></i></span> Important</h1>
    <h1 class="subtitle is-6" style="margin-top: 10px;">This dashboard is being tested and we can't guarantee full usage. Keys could be revoked at any moment.</h1>
    <button class="button is-success" onclick="disablePopup(2); confirmedBeta();">Proceed</button>
    <a href="/logout" class="button is-text">Log me out</a>
    </div>

<div id="popup-token">
    <h1 style="vertical-align: middle;" class="title is-3"> Your bot information <span id="copy-reminder" class="tag is-success">Copied!</span></h1>

    <input id="token" class="input" readonly="" onclick="copy(this)" type="text">
</div>
<nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                    <img src="https://beta.discordspark.com/icons/Spark-icon-no-bg.svg" width="32" height="32">
            <p style="margin-left: 4px;">Dashboard</p><span style="margin-left: 6px;" class="button is-static is-outlined is-danger">Beta</span>
                </a>

            <div data-target="navMenu" class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a href="/" class="navbar-item"> Home </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="https://dashboard.discordspark.com/user">
                    <%- user.name %>
                </a>
                <a class="navbar-item" style="color: red" href="https://dashboard.discordspark.com/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>
<section class="section hero is-light is-medium">
    <div class="container">
        <h1 class="title">Bots</h1>
        <h4 class="subtitle">Your registered bots</h4>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <% data.forEach((i,n) => { %>
                <% if (i.created == false){ %>
                    <div class="column">
                        <div onclick="enablePopup(0)" class="circle"><i class="icon-centered fas fa-plus" style="color: white;"></i></div>
                        <div class="label">
                            <p>Create key</p>
                        </div>
                    </div>
                    <% }else{ %>
                        <div class="column">
                            <% if (i.status == 0){ %>
                                <% console.log(i.status)%>
                            <div class="circle" data-id="<%- i.keyid %>" title="<%- i.name %>" data-online="<%-i.online%>"><i class="icon-centered fas fa-server"></i></div>
                            <% } else if (i.status == 1){ %>
                            <div class="circle" data-id="<%- i.keyid %>" title="Click for instructions to verify your bot." data-online="unverified"><i class="icon-centered fas fa-spinner fa-spin"></i></div>
                            <% }else { %>
                                <div class="circle" data-id="Error" title="Unknown error" data-online="<%-i.online%>"><i data-online="false" class="icon-centered fas fa-times"></i></div>
                                <% i.name = "An unknown error occurred" %>
                                <%}%>
                            <div class="label">
                                <p>
                                    <%- i.name%>
                                </p>
                            </div>
                        </div>
                        <% } %>
                            <% if (n == 4){%>
        </div>

        <div class="columns second">
            <%}%>
                <%})%>


        </div>

</section>
<style>
    .circle {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        background-color: #2C2F33;
        margin: 0 auto;
        cursor: pointer;
    }
    .label {
        text-align: center;
        width: 100%;
    }

    html {
        overflow: hidden !important;
    }

    .second {
        margin-top: 5px;
    }

    .icon-centered {
        position: relative;
        margin: 23px;
        color: white;
        height: 30px;
        width: 30px !important;
    }

    #background {
        display: none;
    }

    #background.blurred {
        opacity: 0.8;
        background: black;
        z-index: 31;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
    }

    #copy-reminder {
        opacity: 0;
        transition: opacity .4s;
    }

    #copy-reminder.visible {
        opacity: 1;
    }

    #popup-token {
        display: none
    }

    #popup-token.popped {
        display: block;
        width: 500px;
        text-align: left;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 11px;
        padding: 19px;
        z-index: 32;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    #popup {
        display: none;
    }
    .circle[data-online="unverified"] {
        background-color: #6b6d70;
    }
    .circle[data-online="true"] {
        background-color: lime;
    }
    .circle[data-online="false"] {
        background-color: red;
    }
    #popup.popped {
        display: block;
        width: 500px;
        text-align: left;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 11px;
        padding: 19px;
        z-index: 32;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }
    #popup-reminder {
        display: none;
    }

    #popup-reminder.popped {
        display: block;
        width: 500px;
        text-align: left;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 11px;
        padding: 19px;
        z-index: 32;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }
</style>
<script>
    var enablePopup;
    var disablePopup;
    var confirmedBeta;
    var submit;
    var token_enabled = false;
    function copy(ip) {
        ip.select()
        document.execCommand('copy');
        document.getElementById("copy-reminder").classList.add("visible")
        setTimeout(() => {
            document.getElementById("copy-reminder").classList.remove("visible")
        }, 2000)
    }

    document.addEventListener('DOMContentLoaded', function() {

        $(".circle[data-id]").click(function(){
            window.location = "/details/" + $(this).attr("data-id")
        })
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        var $background = document.getElementById("background")
        $background.addEventListener('click', function() {
            disablePopup()
        })
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function($el) {
                $el.addEventListener('click', function() {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }

        enablePopup = function(type) {
            var $background = document.querySelectorAll('#background')[0]
            if (type == 0) {
                var $popup = document.querySelectorAll('#popup')[0]
                $popup.classList.add("popped")
            } else if (type == 1) {
                var $popup_token = document.querySelectorAll("#popup-token")[0]
                $popup_token.classList.add("popped")
            } else if (type == 2) {
                var $popup_token = document.querySelectorAll("#popup-reminder")[0]
                $popup_token.classList.add("popped")
            }
            $background.classList.add("blurred")
        }
        <% if (!user.beta_accept){ %>
            enablePopup(2)
            confirmedBeta = () => {
                $.get("/api/beta_accept")
            }

        <% } %>
        disablePopup = function(type) {
            var $background = document.querySelectorAll('#background')[0]
            if (type == 0 || !type) {
                var $popup = document.querySelectorAll('#popup')[0]
                $popup.classList.remove("popped")
            }
            if (type == 1 || !type) {
                var $popup_token = document.querySelectorAll("#popup-token")[0]
                $popup_token.classList.remove("popped")
            }
            if (type == 2 || !type) {
                var $popup_token = document.querySelectorAll("#popup-reminder")[0]
                $popup_token.classList.remove("popped")
            }
            $background.classList.remove("blurred")
            if (token_enabled) {
                location.reload();
            }
        }

        submit = function() {
            var $submit = document.querySelectorAll('#submit')[0]
            var $terms = document.querySelectorAll('#terms')[0]
            var $bot_id = document.querySelectorAll('#id')[0]
            $submit.classList.add("is-loading")
            $submit.onclick = null;
            $bot_id.disabled = true;
            $terms.disabled = true;

            if ($bot_id.value.length == 0) {
                alert("id can't be empty")
                $bot_id.disabled = false;
                $terms.disabled = false;
                $submit.classList.remove("is-loading")
                $submit.onclick = submit
                return
            }
            if ($terms.checked == false) {
                alert("You need to accept our terms and conditions before being able to submit.")
                $bot_id.disabled = false;
                $terms.disabled = false;
                $submit.classList.remove("is-loading")
                $submit.onclick = submit
                return
            }
            var payload = {
                terms: ($terms.checked == true) ? 1 : 0,
                bot_id: $bot_id.value,
            }
            $.ajax({
                    type: 'POST',
                    url: "/api/register",
                    headers: {
                        "content-type": "application/json",
                    },
                    data: JSON.stringify(payload),
                    dataType: "json"
                })
                .done((data) => {
                    disablePopup(0)
                    enablePopup(1)
                    token_enabled = true;
                    console.log(data)
                    window.location = "/details/" + data.id
                    document.getElementById("token").value = data.token;
                })
                .fail((data) => {
                    console.error(data)
                })
        }
    })
</script>
